/** reset **/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
	vertical-align: baseline;
  word-break: keep-all;
}
body {
  width: 100%;
  background-color: #0e100f; 
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: .9rem;
  letter-spacing: -.01em;
  ::selection {
    background-color: #0ae448;
    color: #0e100f;
  }
}
ol,ul,li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-white: #fffce1;
  --color-grey: #42433d;
  --color-black: #0e100f;
  --color-green: #0ae448;
  --color-lightgreen: #abff84;
  --gra-green: 114deg, var(--color-green) 21%, var(--color-lightgreen) 65%;
}